{% block title %}<title>Log in!</title>{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/loginstyle.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block javascript %}
	<script>
		function myFunction() { // hide and show password function
			var x = document.getElementById("inputPassword");
			var y = document.getElementById("hide1");
			var z = document.getElementById("hide2");

			if (x.type === 'password') {
				x.type = "text";
				y.style.display = "block";
				z.style.display = "none";
			} else {
				x.type = "password";
				y.style.display = "none";
				z.style.display = "block";
			}
		}
	</script>
{% endblock %}

{% block body %}
<section>
	<div class="login-box">
		<form method="post">
			<h1>Please Sign In</h1>
			<div class="input-box">
				<i class="fa fa-envelope-o"></i>
				<input type="text" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Username" autocomplete="username" required autofocus>
			</div>
			<div class="input-box">
				<i class="fa fa-key"></i>
				<input type="password" name="password" placeholder="Password" id="inputPassword" autocomplete="current-password" required>
				<span class="eye" onclick="myFunction()">
					<i id="hide1" class="fa fa-eye"></i>
					<i id="hide2" class="fa fa-eye-slash"></i>
				</span>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button type="submit" name="Submit" class="login-btn">LOGIN</button>

			{% if error %}
				<p class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
			{% endif %}
		</form>

		<div>
			<a class="register" href="{{ path('app_register') }}">Register</a>
		</div>
	</div>
</section>
{% endblock %}
