{% extends "base.html.twig" %}

{% block title %}Laptop Shop - Home
{% endblock %}

{% block body %}
	<div class="row-1">
		<div class="col-2">
			<h1>Getting Your Own Workplace</h1>
			<p>Owning a Laptop is an exquisite choice of yours. <br>Consider it.</p>
			<a href="{{ path('laptop_shop') }}" class="btn-1">Explore Now! &#8594;</a>
		</div>
		<div class="col-2">
			<img src="{{ asset('images/bg/setup.jpg') }}">
		</div>
	</div>


{% endblock %}
