{% extends "base.html.twig" %}

{% block title %}Laptop Shop - Home
{% endblock %}

{% block body %}
	<div class="container-1">
		<div class="row-1">
			<div class="col-2">
				<h1>Get Best Laptops Here!<br>A New Sensation!</h1>
				<p>Sometimes, a good investment will change your life.<br>Such investments can be a brand new laptop.</p>
				<a href="{{ path('laptop_shop') }}" class="btn-1">Explore Now! &#8594;</a>
			</div>
			<div class="col-2">
				<img src="{{ asset('images/bg/setup.jpg') }}">
			</div>
		</div>
	</div>
{% endblock %}
