{% extends "base.html.twig" %}

{% block title %}Laptop Shop - Home
{% endblock %}

{% block body %}
	<div class="container-1">
		<div class="row-1">
			<div class="col-2">
				<h1>Create A Workplace<br>A New Feeling!</h1>
				<p>A workplace sometimes needs a nice computer setup from Keyboards, Mouses, etc.<br>Creating for computer users have nice experience during works.</p>
				<a href="{{ path('laptop_shop') }}" class="btn-1">Explore Now! &#8594;</a>
			</div>
			<div class="col-2">
				<img src="{{ asset('images/bg/setup.jpg') }}">
			</div>
		</div>
	</div>
{% endblock %}
