/*----fonts----*/
@font-face {
    font-family: 'montserratregular';
    src:url(../font/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'indieflowerregular';
    src: url(../font/IndieFlower-Regular.ttf) format('truetype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserratregular';
}
section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out;
    display:flex;
    align-items: center;
    justify-content: center;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/*------login box--------*/
.login-box{
    width: 500px;
    background: rgba(0,0,0,0.8);
    margin: 12% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}
h1{
    text-align: center;
    margin-bottom: 40px;
    font-family: 'indieflowerregular';
}
.input-box{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}
.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}
.fa{
    margin-right: 10px;
}
.eye{
    position: absolute;
}
#hide1{
    display: none;
}
.login-btn{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}
.login-btn:hover{
    background: linear-gradient(to right, rgba(255, 116, 192, 0.726) 0%, rgb(247, 221, 151) 100%);
    color: #000;
}
.error{
    text-align: center;
}